.logo {
  width: 50%;
  margin: 3rem auto;
  display: block;
}

.form {
  text-align: center;
}

.form-header {
  margin-bottom: 1rem;
}

.restaurant-list {
}

.restaurant-card {
  margin: 1rem auto;
  display: block;
  padding: 20px;
  max-width: 20%;
  /* border: 1px solid #000; */
}

.restaurant-image {
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.pageButtons {
  margin: 2rem auto;
  display: block;
  width: 30%;
}

.pageButton {
  margin-right: 15px;
}
